@import "tailwindcss";

*{
   font-family: 'Poppins', sans-serif;
}
html, body{
   overflow-x: hidden;
   /* scroll-behavior: smooth; */
}

/* Sliding underline effect */
.underline-slide {
  position: relative;
  overflow: hidden;
}

.underline-slide::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.underline-slide:hover::after {
  width: 100%;
}
