#contactPage{
   min-height: calc(100vh - 4rem);
   width: 100vw;
   max-width: 60rem;
   margin: 3rem auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: black;
   background: rgba(0, 0, 0, 0.116);
   border-radius: 10px;
}
.contactPageTitle{
   font-size: 2.5rem;
   margin: 1.3rem 0;
   font-family: serif;
   font-weight: 400;
}
.contactDesc {
   /* padding: 1rem; */
   font-size: medium;
   font-weight: 400;
   font-family: sans-serif;
}
.contactForm{
   margin: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 90vw;
   max-width: 60rem;
}
.name, .email, .msg{
   font-size: medium;
   width: 100%;
   max-width: 40rem;
   margin: 0.5rem;
   padding: 0.9rem 1rem;
   color: black;
   border: 1px solid rgba(0, 0, 0, 0.116);
   border-radius: 0.5rem;
   background: rgba(0, 0, 0, 0.116);
}
input::placeholder {
   color: rgba(0, 0, 0, 0.658);
}
input:focus {
   outline: none;    
   border: 2px solid gray;  
}
.msg::placeholder{
   color: rgba(0, 0, 0, 0.658);
   outline: none;     
}
.msg:focus{
   outline: none;    
   border: 2px solid gray;  
}
.submitBtn{
   background: transparent;
   border: 1px solid black;
   padding: 0.75rem 3.5rem;
   margin: 2rem;
   border-radius: 0.5rem;
   cursor: pointer;
}
.submitBtn:hover{
  color: white;
  background: black;
  transition: all 0.3s ease-in;
}

@media screen and (max-width:720px) {
   .contactPageTitle{
      font-size: 2rem;
      padding-top: 1rem;
      margin-bottom: 0.57rem;
   }
   .clientDesc{
      font-size: 0.85rem;
   }
   #contactPage input::placeholder,
   textarea::placeholder {
   font-size: 14px;
   }
}