#works{
   margin: 0;
   min-height: calc(100vh - 4rem);
   width: 100vw;
   padding: 1rem 2rem;
   color: black;
}
.worksTitle{
   margin: 2rem 0 1rem 0;
   font-family: serif;
   font-size: 2rem;
}
.worksImgs{
   margin-top: 1.5rem;
}
.workSection{
   display: flex;
   gap: 40px;
   margin-bottom: 3rem;
}
.workSection h2{
   font-family: serif;
   font-weight: 200;
   margin-top: 10px;
}
.workSection h1{
   margin: 15px 0;
   font-size: 30px;
}
.workSection #info{
   font-family: serif;
   font-size: 18px;
   margin-bottom: 15px;
}
.workSection #anchor{
   color: black;
   font-family: serif;
}
.workSection #anchor:hover{
   font-weight: bold;
}
.workDesc{
   font-size: 1.1rem;
   font-family: sans-serif;
}

.worksImg{
   object-fit: cover;
   height: 20rem ;
   margin: 0.5rem;
   max-width: 38rem;
}
.workBtn{
   margin: 3rem auto;
   display: flex;
   width: fit-content;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0.5rem 2.5rem;
   border: 1px solid black;
   background: transparent;
   font-size: 1rem;
   cursor: pointer;
   font-weight: 400;
   border-radius: 0.5rem;
}
.workBtn:hover{
   background: black;
   color: #ffffffdc;
   transition: all 0.8s ease;
}
.works-div {
   position: relative;
   display: inline-block;
 }
 .works-div img{
   border-radius: 12px;
 }
 .hover {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: rgba(0, 0, 0, 0.4);
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: opacity 0.3s ease;
   border-radius: none;
 }
 
 .works-div:hover .hover {
   opacity: 1;
 }

 
 @media screen and (max-width: 950px){
   .workSection{
      display: flex;
      flex-direction: column;
   }
   #reverse{
      flex-direction: column-reverse;
   }
 }
 
@media screen and (max-width: 670px){
   .workSection{
      margin: 0;
   }
   .worksImg{
      display: none;
   }
   .workBtn{
      margin: 0 auto;
   }
}
@media screen and (max-width:585px) {
   .worksTitle{
      font-size: 2rem;
   
   }
   .workDesc{
      font-size: 0.85rem;
      font-weight: 400;
      padding-bottom: 1rem;
   }
}