#intro {
   height: calc(100vh - 4rem);
   width: 100vw;
   /* max-width: 75rem; */
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 3.7rem;
}

.bgDiv {
   position: relative;
   width: 100%;
   height: 100vh; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.bg {
   position: absolute;
   top: 50%;
   left: 45%;
   transform: translate(-50%, -50%); 
   z-index: -1;
   object-fit: cover;
   height: 70vh; 
   width: 70vh; 
   border-radius: 50%; 
   /* background-color: #ff9500;  */
   transition: transform 0.3s ease-in-out; 
}

.bg:hover {
   transform: translate(-50%, -50%) scale(1.05); 
}

.introContent {
   z-index: 1;
   height: 100vh;
   width: 100%;
   padding: 2rem;
   font-size: 3rem;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
}

.introText {
   color: black;
   font-size: 45px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
}
.introText #dot{
   border-radius: 99999px;
   top: -100px;
}
.introPara {
   font-size: 25px;
   font-weight: 300;
   color: black;

}
.introPara #front{
   font-family: serif;
   font-weight: bold;

}
.btn {
   background: transparent;
   margin: 1rem auto;
   padding: 0.75rem 1.5rem;
   border: 1px solid black;
   border-radius: 2rem;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.btn:hover {
   font-weight: 500;
   transition: all 0.3s ease-in-out;
   background-color: rgba(0, 0, 0, 0.18); 
   border: 1px solid black;
   /* box-shadow:1px 1px 8px white;; */
}

.btnImg {
   object-fit: cover;
   margin: 0 0.25rem;
   height: 1rem;
}

@media screen and (max-width: 840px) {
   #intro{
      padding: 0 1rem;
   }
   .bg {
      right: 9vw;
   }
   .introContent {
      font-size: 1rem;
      text-align: left;
      min-width: fit-content;
      padding-bottom: 0rem;
   }
   .btn{
      padding: 0.45rem 0.85rem;
   }
}

@media screen and (max-width: 480px) {
   #intro{
      padding: 0;
   }
   .introText{
      font-size: 30px;
   }
   .bg {
      right: -19vw;
   }
}
